version: "3"

services:
    manager-api:
        image: manager-api
        build: ./manager-api
        ports:
            - 6510:80
        volumes:
            - ./config:/etc/emu-cloud
            - /var/emu-cloud/emuDBs:/var/emuDBs

    websocket-protocol:
        image: websocket-protocol
        build: ./websocket-protocol
        ports:
            - 17890:17890
        volumes:
            - ./config:/etc/emu-cloud
            - /var/emu-cloud/emuDBs:/var/emuDBs

    database: 
        restart: always
        image: postgres
        ports:
            - 5432:5432
        volumes:
            - /var/emu-cloud/postgresql-data:/var/lib/postgresql/data
        environment:
            - POSTGRES_DB=emu
            - POSTGRES_USER=database-user
            - POSTGRES_PASSWORD=database-password

    keycloak:
        restart: always
        image: jboss/keycloak
        ports:
            - 6520:8080
        environment:
            - KEYCLOAK_USER=keycloakadmin
            - KEYCLOAK_PASSWORD=1234
            - PROXY_ADDRESS_FORWARDING=true
            - DB_VENDOR=postgres
            - DB_ADDR=database
            - DB_PORT=5432
            - DB_DATABASE=emu
            - DB_USER=database-user
            - DB_PASSWORD=database-password

    manager-frontend:
        restart: always
        image: manager-frontend
        build: ./manager-frontend
        ports:
            - 6500:80
